@model JobApplicationSystem.DAL.Model.UserDetails

@{
    ViewData["Title"] = "Create";
}

<h4>Create New User Details</h4>
<hr />

<div class="row">
    <form asp-action="Create">
        <div class="form-group">
            Hello
        </div>
        <div class="form-group">
            World
        </div>
    </form>
</div>
