@model JobApplicationSystem.DAL.Model.EducationalDetails

@{
    ViewData["Title"] = "Create";
}

<h4>Create New Educational Details</h4>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
          
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsYearGap" /> @Html.DisplayNameFor(model => model.IsYearGap)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsActiveBacklogs" /> @Html.DisplayNameFor(model => model.IsActiveBacklogs)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="AcademicProjects" class="control-label"></label>
                <input asp-for="AcademicProjects" class="form-control" />
                <span asp-validation-for="AcademicProjects" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
