@{
    ViewData["Title"] = "User Control";
}

<!DOCTYPE html>
<html>
<head>
    <title>Student Dashboard</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <script src="js/jquery-2.1.0.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/client.js"></script>
    <script src="js/templates.js"></script>
    <script src="js/student-dashboard.js"></script>
</head>
<body>

     <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="UserDetails" asp-action="Create">New Application</a>
                        </li>
                        
                    </ul>
        </div>
</body>
</html>